<%= turbo_frame_tag "messages_content_#{configuration.id}" do %>
  <div class="row d-flex justify-content-start flex-wrap my-5">
    <% Configuration.template_override_attributes.each do |attribute| %>
      <div class="col-12 col-md-6 px-5">
        <h4><%= ::Configuration.human_attribute_name(attribute) %></h4>
        <p><%= configuration.send(attribute) || template.send(attribute.gsub("template_", "").gsub("_override", "")) || tag(:br) %></p>
      </div>
    <% end %>
  </div>

  <%= render partial: "configurations/messages_contents/invitations_convocations_links", locals: { configuration: configuration } %>
<% end %>
